body{
    background-color: black;
    -webkit-text-size-adjust: 100%;
}
#langcover{
    font-family: copperplate;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    top:0;
    left: 0;
    position: fixed;
    display: grid;
    align-items: center;
    transition-duration: 2s;
    transition-behavior:allow-discrete;
    opacity: 1;
}
#langcover[hidden]{
    opacity: 0;
}
.langcovercontent{
    width: 100%;
    display: grid;
    justify-items:center ;
    gap: 150px;

}
.cigarentryplace{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 35px;
    color: white;
    position: relative;
}
.cigarentryplace span:nth-child(5), .cigarentryplace span:nth-child(2),.cigarentryplace span:nth-child(3),.cigarentryplace span:nth-child(4){
    content: "";
    display: block;
    position: absolute;
    background-color: goldenrod;
}
.cigarentryplace span:nth-child(5){
    width: 1px;
    left: 0;
    bottom: 0;
}
.cigarentryplace span:nth-child(2){
    height: 1px;
    left: 0;
    top: 0;
}
.cigarentryplace span:nth-child(3){
    width: 1px;
    right: 0;
    top: 0;
}
.cigarentryplace span:nth-child(4){
    height: 1px;
    right: 0;
    bottom: 0;
}
.cigarentryplace span:nth-child(5){
    animation: move1 1500ms infinite ease;
}
.cigarentryplace span:nth-child(2){
    animation: move2 1500ms infinite ease;
}
.cigarentryplace span:nth-child(3){
    animation: move3 1500ms infinite ease;
}
.cigarentryplace span:nth-child(4){
    animation: move4 1500ms infinite ease;
}
.langbutplace{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.langbutplace button{
    font-family: copperplate;
    font-size: 15px;
    background-color: black;
    border: none;
    color: whitesmoke;
}
.langbutplace button:hover{
    a{
        color: goldenrod;
    }
}
.langcoverdesign{
    position: absolute;
    bottom: 2%;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.langcoverdesign label{
    background-color: black;
    color: whitesmoke;
}
#cover{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
.coverbg{
    opacity: 0.7;
    background-color:black;
    width: 100%;
    height: 100%;
}
#introduction{
    padding-right: 10px;
    overflow: auto;
    background-color: black;
    width: 42.96%;
    height: 62.2%;
    position: absolute;
    top: 18.9%;
    left: 28.52%;
    opacity: 1;
    font-family: copperplate;
    overflow-x:hidden;
}
#receipt{
    overflow: auto;
    background-color: whitesmoke;
    width: 42.96%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 28.52%;
    opacity: 1;
    font-family: copperplate;
    overflow-x:hidden;
}
.receipttitle{
    position: relative;
    top: 0;
    left: 5%;
    font-size: 30px;
    width: 90%;
    height: 11.4%;
    display: flex;
    padding: 10px 0 10px;
    border-bottom-style:solid ;
    border-width: 2px;
    justify-content: space-around;
    align-items: center;
    color:gray;
    background-color: whitesmoke;
    font-family: Snell Roundhand, cursive;
}
.date{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 5%;
    width: 90%;
    color: black;
    background-color: whitesmoke;
    padding: 10px 0 10px;
    border-bottom:dashed 2px ;
}
.receiptorder{
    position: relative;
    left: 5%;
    width: 90%;
    color: black;
    background-color: whitesmoke;
    border-bottom:dashed 2px ;
    margin: 0;
}
.receiptorderlist {
    list-style: none;
    display: grid;
    width: 100%;
    padding: 0;
}
.receiptorderlist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px;
    width: 100%;
}

.receiptorderlist li label{
    text-align: center;
}
.receiptorderitem{
    text-align: center;
    display: grid;
}
.amountplace{
    position: relative;
    left: 5%;
    width: 90%;
    color: black;
    background-color: whitesmoke;
    border-bottom:dashed 2px ;
    margin: 0;
}
.amountlist{
    list-style: none;
    padding: 0;
}
.amountlist li{
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thx{
    width: 90%;
    left: 5%;
    position: relative;
    color: black;
    background-color: whitesmoke;
    margin: 0;
    justify-content: space-evenly;
    display: grid;
    font-size: 18px;
    font-family: Snell Roundhand, cursive;
    padding: 20px 0 20px;
}
.thx label{
    padding: 10px 0 10px;
    text-align: center;
}
.itemnameintro{
    font-size: 25px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    color: whitesmoke;
    top: 0;
    left: 0;
    background-color: black;
    text-align: center;
}
.delintro{
    opacity: 0.5;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20px;
    height: 35px;
    right: 10px;
    color: whitesmoke;
    top: 0;
    right: 0;
}
.delintro:hover{
    opacity: 1;
    font-size: 25px;
    color: goldenrod;
}
.sizetable{
    width: 90%;
    display: flex;
    position: relative;
    margin-top:46px ;
    color: whitesmoke;
    align-items: center;
    padding-top: 30px;
    left: 5%;
}
.duration{
    display: grid;
    width: 25%;
}
.ringgauge{
    display: grid;
    width: 25%;
}
.length{
    display: grid;
    width: 25%;
}
.officialweight{
    display: grid;
    width: 25%;
}
@media(max-width:469px){
    .sizetable{
        font-size: 12px;
    }
    .imgmainplace{
        width: 80%;
    }
}
.imgintro{
    width: 100%;
    position: relative;
    top: 11.4%;
    left: 0;
    height: 350px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 5px;
}
.imginintro{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.introcontent{
    display: block;
    line-height: 30px;
    position: relative;
    color: whitesmoke;
    width: 90%;
    left: 5%;
    text-align: left;
}
.addtocartinintro{
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 20px;
}
.pricenum{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.pricetag{
    color: whitesmoke;
    display: flex;
    width: 42%;
}
#price{
    align-items: center;
    font-size: 25px;
    display: flex;
    text-align: center;
}
.num{
    text-align: right;
    display: flex;
}
.minus{
    cursor: pointer;
    border-style: solid;
    border-color: whitesmoke;
    background-color: black;
    color: white;
    width: 25px;
    padding: 6px 5px 6px ;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.input{
    outline: none;
    font-size: 15px;
    width: 25px;
    padding: 5px 10px 2px;
    text-align: center;
}
.plus{
    border-color: whitesmoke;
    cursor: pointer;
    border-style: solid;
    background-color: black;
    color: white;
    width: 25px;
    padding: 6px 5px 6px;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.unit{
    margin-left: 5px;
    height: 30px;
    padding: 0 5px 0;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    cursor: pointer;
    width: 50px;
}

@media(max-width:560px){
    .addtocartinintro{
        display: grid;
        height: 220px;
    }
    .pricenum{
        margin-top: 20px;
        width: 100%;
        display: grid;
        justify-items: center;
    }
    .pricetag{
        width: 100%;
    }
    .num{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .unit{
        margin-top: 20px;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .minus ,.plus{
        font-size: 20px;
        width: 40px;
    }

}
.topbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 11.8%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    font-family: copperplate;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 6px ;
}
.menu{
    padding-left: 2.35%;
    padding-right: 2.35%;
    height: 100%;
    width: 2.97%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgk{
    font-size: 35px;
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.3s linear;
}
.imgk:hover{
    color: #464646;
}
.tittle{
    height: 100%;
    display: flex;
}
#title1{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: black;
    color: whitesmoke;
}
.tittle:hover{
    cursor:crosshair;
}
.but{
    padding-left: 2.35%;
    padding-right: 2.35%;
    height: 100%;
    width: 2.97%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#receiptbut{
    cursor: pointer;
    color: whitesmoke;
    font-size: 35px;
    transition: all 0.3s linear;
}
#receiptbut:hover{
    color: #464646;
}
#sidebar{
    background-color: whitesmoke;
    top: 12.76%;
    left: 0;
    position: fixed;
    height:87.2%;
    width: 14.2%;
    font-family: copperplate; 
    transition: all 0.5s linear; 
}
.listtitle{
    background-color: black;
    color: whitesmoke;
    height: 10%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#cigarlist{
    overflow-y: scroll;
    overflow-x: hidden;
    padding:0;
    font-size: 17px;
    height: 82.1%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}
.mainlist{
    display: inline; 
    width: 100%;
    left: 0;
}
.mainlist li{
    cursor: pointer;
    list-style:none;
    padding: 15px;
    padding-right: 0;
}
a{
    text-decoration: none; 
    color: whitesmoke;
}

@media(min-width:1200px){
    .mainlist li:hover{
        background-color: black;
        font-size: 28px;
        text-align: right;
        a{
            color: goldenrod;
        }
        
    }
}
.mainlist li:hover{
    a{
        color: goldenrod;
    }
}
#cart{
    height: 82.1%;
    background-color: black;
}
.cartbut{
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    text-align: center;
    font-family: copperplate;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    border-style: none;
    background-color: black;
    color: whitesmoke;
    height: 7.9%;
    z-index: 1;
    display: block;
    position: relative;
}
.cartbut::before,.cartbut::after{
    content: "";
    position: absolute;
    transition: inherit;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
}
.cartbut:hover{
    color: black;
    transition-delay: 0.5s;
}
.cartbut:hover::before{
    transition-delay: 0s;
}
.cartbut:hover::after{
    background-color: whitesmoke;
    transition-delay: 0.35s;
}
.cartbut::before{
    left: 0;
    border: 1px solid whitesmoke;
    border-left: 0;
    border-right: 0;
    
}
.cartbut::after{
    right: 0;   
}
.cartbut:hover::before,.cartbut:hover::after{
    width: 100%;
}
.cartlist li{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    justify-content: space-between;
    list-style:none;
    background-color: black;
    color: whitesmoke;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
}
.cartlist li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid goldenrod;
    transition: inherit;
    width: 0;
}
.cartlist li:hover::before{
    transition-delay:0s ;
    width: 100%;
}
.cartlist1 label:hover{
    color: goldenrod;
}
.cartlist{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    height: 88.9%;
}
.order{
    text-align: center;
    font-family: copperplate;
    width: 100%;
    padding: 15px ;
    font-size: 20px;
    cursor: pointer;
    border-style:none;
    transition: background-color,1s;
    background-color: black;
    color: whitesmoke;
    height: 11.1%;
}
.order:hover{
    color: goldenrod;
}
.header1{
    position: fixed;
    height: 8.19%;
    right: 0;
    top: 12.76%;
    background-color:black;
    width: 100%;
    font-family: copperplate;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.header2{
    position: fixed;
    height: 5%;
    right: 0;
    top: 20.95%;
    background-color: black;
    text-align: center;
    width: 100%;
    font-family: copperplate;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#imgb{
    height: 80%;
    border-style: solid;
    border-color: goldenrod;
    background-color: whitesmoke;
}
#brand{
    font-size: 100%;
    border-bottom-style: solid;
    border-right-style: inset;
    border-bottom-color: goldenrod;
    color: whitesmoke;
    margin: 0;
    
}
#imgplace{
    position: fixed;
    right: 0;
    top: 25.95%;
    width: 100%;
    height: 65.5%;
    background-color:black;
}
.imgmain{
    background-color: black;
    width: 100%;
    height: 100%;
    display:grid;
    justify-items:center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
  }
.imgmainplace{
    display: flex;
    width: 80%;
    height: 80.24%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
}
.imgmainplace img{
    cursor: pointer;
    object-fit:scale-down;
    width: 100%;
    height:100%;
    flex-shrink: 0;
    scroll-snap-align:center;
    transition: height 0.1s ease-in-out;
    
}
.mainitemnameframe{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mainitemname{
    font-size: 25px;
    font-family: copperplate;
    color: whitesmoke;

}
.sizetablemain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
}
.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8.5%;
    width: 100%;
}
.design{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    margin: 10px;
    font-family: copperplate;
    font-size: 10px;
}
.addtocart{
    position: relative;
    font-size: 21px;
    font-family: copperplate;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    border-style: none;
    text-align: center;
    height: 64.8%;
}
.addtocart span:nth-child(1),.addtocart span:nth-child(2),.addtocart span:nth-child(3),.addtocart span:nth-child(4){
    content: "";
    display: block;
    position: absolute;
    background-color: goldenrod;
}
.addtocart span:nth-child(1){
    width: 1px;
    left: 0;
    bottom: 0;
}
.addtocart span:nth-child(2){
    height: 1px;
    left: 0;
    top: 0;
}
.addtocart span:nth-child(3){
    width: 1px;
    right: 0;
    top: 0;
}
.addtocart span:nth-child(4){
    height: 1px;
    right: 0;
    bottom: 0;
}
.addtocart:hover span:nth-child(1){
    animation: move1 1500ms infinite ease;
}
.addtocart:hover span:nth-child(2){
    animation: move2 1500ms infinite ease;
}
.addtocart:hover span:nth-child(3){
    animation: move3 1500ms infinite ease;
}
.addtocart:hover span:nth-child(4){
    animation: move4 1500ms infinite ease;
}
@keyframes move1 {
    0% { height: 100%; bottom: 0; }
    54% { height: 0; bottom: 100%; }
    55% { height: 0; bottom: 0; }
    100% { height: 100%; bottom: 0; }
}
@keyframes move2 {
    0% { width: 0; left: 0; }
    50% { width: 100%; left: 0; }
    100% { width: 0; left: 100%; }
}
@keyframes move3 {
    0% { height: 100%; top: 0; }
    54% { height: 0; top: 100%; }
    55% { height: 0; top: 0; }
    100% { height: 100%; top: 0; }
}
@keyframes move4 {
    0% { width: 0; right: 0; }
    55% { width: 100%; right: 0; }
    100% { width: 0; right: 100%; }
}
.del{
    border-style: none;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    opacity: 0.5;
    width: 24;
    height: 22;
}
.del:hover{
    opacity: 1;
    color: goldenrod;
}
@media(max-width:1200px){
    .header1{
        width: 100%;
    }
    .header2{
        width: 100%;
    }
    #imgplace{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    #sidebar{
        width: 182px;
        
    }
    #introduction{
        width: 80%;
        left: 10%;
    }
    #receipt{
        width: 80%;
        left: 10%;
    }
}
@media (max-width:575px) {
    .langbut{
        padding: 5px;
        font-size: 8px;
        height: 27px;
    }
    .but{
        margin-right: 15px;
    }
    .design{
        font-size: 7px;
    }
}
